furo
ipython
memory_profiler
nbsphinx
nbsphinx-link
pydata_sphinx_theme
pyenchant
pypandoc
sphinx<6
sphinx-autodoc-typehints
sphinx-click
sphinx-paramlinks
sphinx_copybutton
sphinx_gallery
sphinx_rtd_theme
sphinxcontrib-bibtex
typing_extensions
