name: CI

on:
  schedule:
    - cron: 00 00 * * 1 # run every Monday at 00:00
  push:
    branches:
      - main
      - dev
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  init:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.ci-skip-step.outputs.ci-skip }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: ci-skip-step
        run: |
          msg=$(git log -1 --pretty=%B)
          skip="false"
          if [[ "$msg" == *"[ci skip]"* ]] || [[ "$msg" == *"[ci-skip]"* ]] || [[ "$msg" == *"[skip ci]"* ]] || [[ "$msg" == *"[skip-ci]"* ]]; then
              skip="true"
          fi
          echo "ci-skip=$skip" >> "$GITHUB_OUTPUT"

  lint:
    needs: init
    if: ${{ github.event_name == 'schedule' || needs.init.outputs.skip == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
      - name: Run static analysis
        run: |
          make lint

  test:
    needs: lint
    name: test on ${{ matrix.os }} with python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        python: ["3.10", "3.11", "3.12"]
        os: [ubuntu-latest, macos-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install setuptools
          ./.scripts/ci/install_dependencies.sh
      - name: Unit tests
        run: |
          make test

  codeql:
    needs: lint
    name: code quality
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [python]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          queries: +security-and-quality
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:${{ matrix.language }}"

  build_wheels:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: test
    name: build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 20
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: build_wheels
    name: build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install build dependencies
        run: python -m pip install setuptools setuptools_scm
      - name: Build sdist
        run: python setup.py sdist
      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  deploy:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: [test, build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - name: Artifact
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
      - name: Publish wheels to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          packages-dir: dist/
          skip-existing: true
          verbose: true
